body {
	background: #e8e6de;
	background: url('../images/stripes.png');
	}
.menu_head{border:1px solid #998675;}

.menu_body {display:none; width:184px;border-right:1px solid #998675;border-bottom:1px solid #998675;border-left:1px solid #998675;}
.menu_body li{background:#493e3b;}
.menu_body li.alt{background:#362f2d;}
.menu_body li a{color:#FFFFFF; text-decoration:none; padding:10px; display:block;}
.menu_body li a:hover{padding:15px 10px; font-weight:bold;}

.menuarrow{
margin-left: 5px;
}
.navlist{
list-style-type: none;
padding: 0px;
margin: 0px;

font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:18px;
	color: #403B33;
	
}

.votes_count{
	display: inline-block;
	height:20px;
	width:20px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:100%;
	color: #403B33;
}
.navlist li{
margin-left: 0;
padding-left: 0;
}
.navlist a{
display:block;
width:100%;
background:#ffffff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:24px;
	color: #403B33;
	text-decoration:none;
}
a.navlist_selected{
	display:block;
	width:100%;
	background:#D8F0F0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:24px;
	color: #403B33;
	text-decoration:none;
}
.navlist a:hover{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:#D8F0F0;
	color: #403B33;
	text-decoration:underline;
}

.navlist span{
	display:inline-block;
	margin:8px;
}

label
{
	width: 100px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	margin-top:5px;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color: #403B33;
}

.textright{
	text-align:right;
}
.replylist{
	list-style: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:18px;
	margin:none;
	color:#403B33;
	text-decoration:none;
	padding:5px;;
	margin:0;
}

.replylist a{
	text-decoration:none;
	color:#403B33;
}
.replylist a:hover{
	text-decoration:underline;
}
.replylist a:visited{
	color:#777777;
}

table.recentuploads {
    table-layout: fixed;
    width: 460px;
	
	margin:0px;
	background:#eaeaea;
}
td.col{
	width:86px;
	
	text-align:left;
	border: 1px solid white;
	margin:0px;
	
}
td.title_col{
	width: 270px;
	
	text-align:left;
	border: 1px solid white;
	margin:0px;
}	
.upload {
	display:inline-block;
	margin-top:20px;
	margin-left:20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#403B33;
	text-decoration:none;
}
.centertext{
	position:relative;
	text-align:center;
}
.uploadlink {
	display:inline-block;
	
	margin-top:10px;
	margin-bottom:10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#403B33;
	text-decoration:none;
}

.welcomeheadline{
	display:inline-block;
	margin-left:10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:30px;
	color:#403B33;
}

.upload:hover {
	display:inline-block;
	margin-top:20px;
	margin-left:20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#403B33;
	text-decoration:underline;
}

.footer{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#403B33;
	text-decoration:none;
}
.footer:hover{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:black;
	text-decoration:underline;
}


a {
outline:none;

}
.textleft{
	text-align:left;
	
}
.link{
	display: inline-block;
	margin-top:4px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	
}
.link a{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#403B33;
	text-decoration:none;
}
.link a:visited{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#777777;
	text-decoration:none;
}
.link a:hover{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#777777;
	text-decoration:underline;
}

.linkcontainer{
	min-height:55px;
	margin-left:142px;
}

.detailscontainer{
	
	margin-left:142px;
	
}

.showhide{
	display:inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	text-decoration:none;
}
.showhide:hover{
	display:inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	text-decoration:underline;
}
.details{
	
	padding-top:7px;
	display:inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	vertical-align:bottom;
}

.details a{
	display:inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	text-decoration:none;
	
}
.details a:hover{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	text-decoration:underline;
}

.formattinghelp{
	display:inline-block;
	margin-left:10px;
	margin-bottom:5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#777777;
	text-decoration:none;
}
.hidden {
	display:none;
}

.unhidden {
	display:block;
}


.tab_orange {
background: #F05A22;
 height:36px;
-moz-border-radius-bottomright: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-left-radius: 8px;
text-align:center;
}

.tab_white{
	background: white;
	 height:36px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	text-align:center;
}
.contact{
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
}

a.contact:link {color: #403B33; text-decoration: none; }
a.contact:visited {color: #403B33; text-decoration: none; }
a.contact:hover {color: #403B33; text-decoration: underline; }
a.contact:active {color: #403B33; }

.loginlink{
display: inline-block;
margin-top:6px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
}

a.loginlink:link {color: #403B33; text-decoration: none; }
a.loginlink:visited {color: #403B33; text-decoration: none; }
a.loginlink:hover {color: #403B33; text-decoration: underline; }
a.loginlink:active {color: #403B33; }

.loginlink_white{
display: inline-block;
margin-top:6px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
font-weight:bold;
}

a.loginlink_white:link {color: white; text-decoration: none; }
a.loginlink_white:visited {color: white; text-decoration: none; }
a.loginlink_white:hover {color: white; text-decoration: underline; }
a.loginlink_white:active {color: white; }



.loginlink_glow {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	font-size:18px;
	color: #F05A22; 
	text-decoration: none; 
	margin-top:6px;
}
.loginlink_glow:visited {color: #F05A22; text-decoration: none;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:18px;
margin-top:6px; }
.loginlink_glow:hover {color: #403B33; 
display: inline-block;
text-decoration: underline;
margin-top:6px; }
.loginlink_glow:active {color: #403B33;
display: inline-block;
margin-top:6px; }

.categories {
	
	height:90px;

	background: white;
}
.categoriesspan{
display:inline-block;
margin-top:20px;
}
.titlecontainer{
	min-height:70px;
	
	margin-left:30px;
}
.pictitle{
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#777777;
}

.registertitle{
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#403B33;
	margin:10px;
	text-decoration:none;
}
a.registertitlelink {
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#F05A22;
	margin:10px;
	text-decoration:none;
}
a.registertitlelink:hover{
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#F05A22;
	margin:10px;
	text-decoration:underline;
}
.registertitlelink a:visited{
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:28px;
	color:#777777;
	margin:10px;
	text-decoration:none;
}
.piccontainer{
position:relative;
	background: #FEFEFE;
	display:inline-block;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:8px;
	min-width:940px;
}
img{  
border-style: none;
}
textarea#styled {
	width: 300px;
	height: 70px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	
	background-position: bottom right;
	background-repeat: no-repeat;
	}

a.votebutton{
	display:inline-block;
	
	background-position:center;
	height:25px;
	width:25px;
	
	text-indent:-900%;
}

a.commentvotebutton{
	display:inline-block;
	
	background-position:center;
	height:20px;
	width:20px;
	
	text-indent:-900%;
}


a.upvote {

	background:url("../images/upsmall.png");
	
}

a.downvote {
	background:url("../images/downsmall.png");
}

a.upvote_gray {
	background:url("../images/upsmall_gray.png");
}

a.downvote_gray {
	background:url("../images/downsmall_gray.png");
}



a.upvotecomment {
	display:inline-block;
	background:url("../images/upsmall_comment.png");
	background-position:center;
	height:20px;
	width:20px;
	text-indent:-900%;
}

a.downvotecomment {
	display:inline-block;
	background:url("../images/downsmall_comment.png");
	background-position:center;
	height:20px;
	width:20px;
	text-indent:-900%;
}
a.upvotecomment_gray {
	display:inline-block;
	background:url("../images/upsmall_comment_gray.png");
	background-position:center;
	height:20px;
	width:20px;
	text-indent:-900%;
}

a.downvotecomment_gray {
	display:inline-block;
	background:url("../images/downsmall_comment_gray.png");
	background-position:center;
	height:20px;
	width:20px;
	text-indent:-900%;
}

div.pmcontainer {
	display:inline-block;
	background: #FEFEFE;
	
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
	min-width:300px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

.pad8{
	padding:8px;
}

div.commentcontainer {
	display:inline-block;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
	min-width:300px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}
div.commentcontainer_glow {
	display:inline-block;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #F05A22;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
	min-width:300px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

div.reply_comment_container {
	display:inline-block;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:3px;
	width:370px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

.editarea{
	width:400px;
	height:150px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
}
.clicktozoom{
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	margin-left:5px;
	color:#777777;
}
#picdescription{
	padding:8px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
}

.votepack{
	float:left;
	background:#d8f0f0;
	margin-right:5px;
	text-align:center;
	width:25px;
	
}
.commentvotepack{
	float:left;
	
	margin-right:5px;
	text-align:center;
	min-height:100%;
}
.thumb{
	position:absolute;
	left:25px;
	top:0px;
}
.commentlink{
	font-family: 'Lucida Grande', sans-serif;
	font-size:12px;
	color:gray;
	margin-left:10px;
	margin-bottom:3px;
}
a.username{

	color:#6CC5C3;
}
.commenttext{
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display:inline;
	
	margin:3px;
}
input.pmsubmit{

height: 30px;

font-size: 18px;
color:#46433a;
border: 0px;
margin: 0px;

}
input.pmsubmit:hover{
height: 30px;

font-size: 18px;
color:#F05A22;
border: 0px;
margin: 0px;

}


input.loginsubmit{
height: 30px;
width:70px;
font-size: 18px;
color:#46433a;
border: 0px;
margin: 0px;

}
input.loginsubmit:hover{
height: 30px;
width:70px;
font-size: 18px;
color:#F05A22;
border: 0px;
margin: 0px;

}

.cerealguy{
	position:relative;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:8px;
}

div.entryguy{
	position:relative;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:8px;
	background:url('../images/cerealguy.jpg');
	height: 250px;
}



.cerealguytext{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:20px;
	width:120px;
	
	margin-top:10px;
	margin-left:210px;
}

div.entry {
	position:relative;
	background: #FEFEFE;
	padding:0px;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	margin-left:2px;
	margin-right:2px;
	margin-top:8px;
	
}

.overlapbug{
	position:relative;
	
	padding:0px;
	
	height:50px;
	margin-right:2px;
	margin-top:8px;
}

div.entry_glow {
	position:relative;
	background: #FEFEFE;
	padding:0px;
	
	border:8px solid #F05A22;
	
	-moz-border-radius:8px;
	border-radius: 8px;
	
	margin-left:2px;
	margin-right:2px;
	margin-top:8px;
}

div.entry_nomargin {
	position:relative;
	background: #FEFEFE;
	padding:0px;
	
	border:8px solid #A8D8D8;
	
	-moz-border-radius:8px;
	border-radius: 8px;
	
	
}


div.entry_top {
	background: #FEFEFE;
	padding:0px;
	
	border-left:8px solid #A8D8D8;
	border-right:8px solid #A8D8D8;
	border-bottom:8px solid #A8D8D8;	
	-moz-border-radius-bottomright: 8px;
border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-left-radius: 8px;
	
	margin-left:2px;
	margin-right:2px;
	margin-top:0px;
	background:url('../images/headerbg.jpg');
	
}
.center_form{
display: block;

	margin: 0 auto;
	width:300px;
}
.modal_login{
	text-align:right;
}
.logintext{
margin-top:5px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:16px;
}

.pmtext_username{
margin-top:5px;
height:27px;
width:150px;
border: 1px solid #777777;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
}

.pmtext_subject{
margin-top:5px;
height:27px;
width:300px;
border: 1px solid #777777;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
}

.pmtext_body{
margin-top:5px;
height:100px;
width:500px;
border: 1px solid #777777;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
}

.registertext{
margin-top:5px;
height:27px;
width:150px;
border: 1px solid #777777;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;

}

.registerbutton{
width:100px;
margin-right:20px;
margin-top:6px;
margin-bottom:6px;
background:#A8D8D8;
border:5px solid #777777;
-moz-border-radius:8px;
border-radius: 8px;
height:30px;
}

.registerbutton:hover{
	border:5px solid #F05A22;
}
.picdetails{
	margin:6px;
	
}

.top_comment_container{

	background: #FEFEFE;
	border:8px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
	width:370px;
	
	
}

.loginbutton{
width:100px;
margin-right:81px;
margin-top:5px;
background:#A8D8D8;
border:0px;
-moz-border-radius:8px;
border-radius: 8px;
height:30px;
}

.loginbutton:hover{

border:3px solid;
border-color:#F05A22;
}

.commentbutton{
width:110px;
margin:5px;
background:#A8D8D8;
border:0px;
-moz-border-radius:8px;
border-radius: 8px;
height:30px;
}
.commentbutton:hover{

border:3px solid;
border-color:#F05A22;
}

.col_title{
display:inline-block;
margin:5px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: black;
font-size:18px;
text-decoration:none;
}

.pic_instructions{
display:inline-block;
margin:5px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
text-decoration:none;
}

.pic_instructions a{
display:inline-block;

font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
text-decoration:none;
}

.pic_instructions a:hover{
display:inline-block;

font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
text-decoration:underline;
}

.pic_instructions a:visited{
display:inline-block;

font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #777777;
font-size:18px;
}

.pic_error{
display:inline-block;
margin:5px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:18px;
}



label{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #403B33;
font-size:16px;
}
.descArea {
height:100px;
padding:8px;
	border:1px solid #ddd;
	font-size:12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top_comment_area{
height:80px;
width:325px;
margin: 8px;
border:1px solid #ddd;
	font-size:12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pagination{
	border:5px solid #A8D8D8;
	-moz-border-radius:8px;
	border-radius: 8px;
}


.gloworange{
	color:#777777;
	text-decoration:underline;
}
.gloworange:hover{
	color:#F05A22;
	text-decoration:underline;
}
.alignright{
text-align:right;
width:300px;

}
.pag_older{
	display:inline-block;
	right:10px;
	font-size:18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #777777;
	margin:8px;
	
}
.pag_older:hover{
	display:inline-block;
	right:10px;
	font-size:18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: underline;
	color: #777777;
	margin:8px;
	
}
.pag_newer{
	display:inline-block;
	right:10px;
	font-size:18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #777777;
	margin:8px;
}

.pag_newer:hover{
	display:inline-block;
	right:10px;
	font-size:18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: underline;
	color: #777777;
	margin:8px;
	
}
.textright{
	text-align:right;
}
.statustext{
text-align:left;
bottom:0px;
margin-top:12px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: normal;
font-size:14px;
color:#403B33;
}
.statustext a{
color:black;
text-decoration:none;
}

.statustext a:hover{
color:#777777;
text-decoration:underline;
}
.logindiv{
display:inline-block;
text-align: right;
}
.loginformtext{

margin-right:50px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

font-weight: normal;
font-size:14px;
}



.loginformtext a{
color: #777777;
text-decoration: none;
}
.loginformtext a:hover{
color: #777777;
text-decoration: underline;
}

.login-submit{
	display: inline-block;
}
div.rightcol {
	margin-top:0px;
}
.examplepic{
border:3px solid #777777;
}
.searchtext {

left:0px;
height: 28px;
width: 260px;
color: #c2c2c2;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
border-bottom-right-radius: 0px 0px;
border-top-right-radius: 0px 0px;
border: 0px;
margin: 0px;
background:white;
}
input.searchsubmit{
position:absolute;
right:0px;
height: 30px;
width:70px;
font-size: 18px;
color:#46433a;
border: 0px;
margin: 0px;
right:0px;
}
input.searchsubmit:hover{
color:#F05A22;

}


.searchtext_searchpage {
height: 30px;
width: 506px;
color: #403B33;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
border-bottom-right-radius: 0px 0px;
border-top-right-radius: 0px 0px;
border: 0px;
margin: 0px;
}

.margin8{
	margin:8px;
}
.errortext {
display: inline-block;
margin:7px;

color: #403B33;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
border-bottom-right-radius: 0px 0px;
border-top-right-radius: 0px 0px;
border: 0px;

}

.errortext_glow {
display: inline-block;
margin:7px;

color: #F05A22;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
border-bottom-right-radius: 0px 0px;
border-top-right-radius: 0px 0px;
border: 0px;

}

.usernametext {
height: 30px;
width: 162px;
color: darkGray;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
padding: 0px;
border: 4px solid #c2c2c2;
margin-right: -4px;
}

.passwordtext {
height: 30px;
width: 162px;
right:0px;
color: darkGray;
font-family: 'Lucida Grande', sans-serif;
font-weight: normal;
font-size:18px;
padding: 0px;
border: 4px solid #c2c2c2;
margin-left: 0px;
}

div.toplinks{
display:inline-block;
}


.forwardarrow{
float:right;
margin:4px;
}

.bumper{
	height:15px;
}
.bumper2{
	height:100px;
	position:relative;
}

.instructions{
	
	display:inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
